body {
  font-family: "微軟正黑體";
}
.navbar {
  background-color: rgb(255, 255, 255);
  display: flex;
  justify-content: space-between;
  box-shadow: rgba(88, 32, 32, 0.5) 0px 1px 0px 0px;
  width: 100%;
}
.logo {
  font-size: 28px;
}
.navbar a {
  text-decoration: none;
  color: rgb(0, 0, 0);
  height: 100%;
  line-height: 50px;
  padding: 0 20px;
  transition: 0.2s;
  font-weight: 900;
}
.navbar a:hover {
  color: rgb(160, 116, 116);
}
.homemain {
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: linear-gradient(33deg, #aaf, #faa);
}

.wemain {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.tw {
  margin: 0 0 50px 0;
  width: 100%;
  height: 94vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(
    87deg,
    rgba(167, 167, 167, 0.5),
    rgba(112, 112, 158, 0.5)
  );
}

/*SVG*/

svg {
  height: 80vh;
}

path {
  stroke: white;
  fill: black;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  cursor: pointer;
}
path:hover {
  fill: #c4ff94;
  -webkit-transform: translate(-5px, -5px);
  transform: translate(-5px, -5px);
}
table {
  text-align: end;
  color: white;
}

td h2 {
  font-size: 48px;
}
td p {
  font-size: 33px;
}

/**/
.wrap {
  display: flex;
  justify-content: center;
  border-radius: 10px;
  padding: 50px 0;
  width: 100vh;
}
.item {
  width: 260px;
  background-color: rgb(255, 255, 255);
  margin: 10px;
  transition: 0.5s;
  color: dimgrey;
  position: relative;
}

.item img {
  vertical-align: bottom;
  width: 260px;
  height: 300px;
}
.item h2 {
  padding-top: 10px;
  text-align: center;
}
.item .text {
  position: relative;
}
.item p {
  padding: 15px;
  line-height: 1.5;
}
.item h2::before {
  content: "";
  position: absolute;
  top: -50px;
  left: 0px;
  width: 0;
  height: 0;
  border-top: 50px solid transparent;
  border-left: 130px solid rgb(255, 255, 255);
  border-right: 130px solid rgb(255, 255, 255);
  transition: 0.5s;
}
.item:hover h2::before {
  border-left: 130px solid rgb(231, 169, 169);
  border-right: 130px solid rgb(231, 169, 169);
  color: rgb(255, 255, 255);
}
.item:hover {
  background-color: rgb(231, 169, 169);
  color: rgb(255, 255, 255);
  top: -30px;
}
.more {
  position: absolute;
  right: 0;
  bottom: 0;
}
/*twinfo*/

.twinfo {
  width: 60%;
}
.twitem {
  display: flex;
  align-items: center;
  margin-bottom: 70px;
}
.twitem .twimg {
  width: 55%;
  flex-shrink: 0;
}
.twitem img {
  width: 100%;
  vertical-align: middle;
  border-radius: 5px;
}
.twitem .twtxt {
  width: 55%;
  flex-shrink: 0;
  padding: 50px 30px;
  box-sizing: border-box;
  position: relative;
  z-index: 1;
}
.twitem > :first-child {
  margin-right: -10%;
}
.twitem:nth-child(1) .twtxt {
  background-color: rgba(214, 243, 168, 0.7);
}
.twitem:nth-child(2) .twtxt {
  background-color: rgba(253, 204, 158, 0.7);
}
.twitem:nth-child(3) .twtxt {
  background-color: rgba(170, 170, 255, 0.7);
}
