
body {
    font-family: Microsoft JhengHei;
    padding-top: 70px;
}
.box-2{
    width: 700px;
    height: 300px;
    max-width: 100%;
    text-align: center;
    }
    
.box-2:before{
    content: '';
    height: 100%;
    display: inline-block;
    vertical-align: middle;
    }
    
.box-2 .text{
      font-size:16px;
      display: inline-block;
      vertical-align: middle;
    }
.ccc{
  display: inline-block;

  width: 40vh;
}