.bgimg {
  background-image: url("https://images.pexels.com/photos/3907280/pexels-photo-3907280.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: 50% 50%;
  background-size: 200vh;
  border-radius: 50px;
}
.hwp {
  height: 100vh;
  /*width: 100vh;*/
  margin: 65px;
  padding-top: 70px;
  /*--*/
}
.iid:hover {
  border-radius: 16px;
  transition: all 0.8s;
  background-color: #000000af;
}
.iid:active {
  border-radius: 16px;
  transition: all 0.1s;
  background-color: #eeeaeaa9;
}
